body { 

	background-image:url('art.jpg');
	background-size: 100%, 100%;
	background-color: #0080ff;
	background-repeat:no-repeat;
	background-size:cover;
}

img{
	opacity: 0.5;
}


div {
	font-family: verdana;
	color:black;
	text-align: center;
	margin-top:250px;
	
}

h1 {
	
	
	text-align:center;
	font-size: 75px;
	margin:0px;
	padding:0px;
	text-shadow: 2px 1px 1px grey;
	
}

p{
	
	font-size: 40px;
	text-shadow: 1px 1px 3px lightgrey;
	
}
